*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: whitesmoke;
}
html, body {
    height: 100%;
    margin: 0;
    color: #222;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* toda la altura del viewport */
}

.main-content {
    flex: 1; /* ocupa todo el espacio disponible */
    padding: 20px;
}

