header {
    width: 100%;
    background-color: #222;
    color: white;
}

#navbar {
    display: flex;
    justify-content: space-between; /* separa los grupos izquierda/derecha */
    align-items: center; /* centra verticalmente */
    padding: 0.5rem 3vw;
    /*position: sticky;*/
    /*z-index: 1;*/
}

#navbar_buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* espacio entre logo y enlaces */
}

.navbar_button {
    text-decoration: none;
    font-weight: 500;
    color: whitesmoke;
}

#navbar_button :hover {
    text-decoration: underline;
}

#logo {
    height: 80px;
    width: auto;
    transition: all 0.1s ease-in-out;
}
#logo:hover {
    cursor: pointer;
    scale: 1.2;
}

#navbar_login {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
/*botones del navbar*/
.button_login {
    height: 40px;
    background-color: #ff4747;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button_login:hover {
    background-color: #ff2a2a;
}

